.index_header.font-medium
  Tag　List
= link_to "add new tag", new_tag_path, class:"deco_none link_new"
%table.only-name
  %tr.hover
    %th.font-small-medium.font-small-medium
      name
  = render @tags


.font-large
  login 123 おはよう
.font-medium
  login 123 おはよう
.font-small-medium
  login 123 おはよう
.font-small
  login 123 おはよう
.font-smaller
  login 123 おはよう