@import "./budgets";
@import "./categories";
@import "./posts";
@import "./tags";
@import "./user";
@import "./reset";
@import "./header";
@import "monthlies";
@import "font-awesome-sprockets"; 
@import "font-awesome";
@font-face {
  font-family: 'English';
  src: font-url('SpartanMB-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//mixin
@mixin large {
  font-size: calc(20px + ((1vw - 6px)*5/6));
}

@mixin medium {  
  font-size: calc(15px + ((1vw - 6px)*5/6));
}

@mixin small-medium{
  font-size: calc(13px + ((1vw - 6px)*5/6));
}

@mixin small {
  font-size: calc(10px + ((1vw - 6px)*2/6));
}

@mixin submit-btn($width: 100px){
  display: block;
  background-color: #e0e0e0;
  width: $width;
  height: 40px;
  margin: 20px auto;
  //中央寄せ＋フォームとの空間
  border-radius: 5px;
}
//mixin終了

*{
  box-sizing: border-box;
  font-family: 'English', cursive;
  //上記@font-faceで定義   
  font-weight: bold;
  @include small-medium;
   
  // font-family: 'Amatic SC', cursive;                //英数字用フォント Amatic SC
  // font-family: 'M+ Type-1 (general-j) Regular';  //日本語用フォント M+ FONTS
  // font-family: 'Dancing Script', cursive;        //数字用フォント
}


//汎用的に使うもの
.font-large{
  @include large;
}

.font-medium{
  @include medium;
}

.font-small{
  @include small;
}

.center{
  text-align: center;
  padding-bottom: 30px;
  display: block;
}
//汎用的に使うものend





content {
  display: flex;
  .posts{
    width: 100%;
  }
  .content{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    //header以外の要素全体を下に下げる
  }
}


//リンクの下線を削除・colorを黒
.deco_none{
  text-decoration: none;
  color: #707070;
}

.deco_none_red{
  text-decoration: none;
  color: #ff9999;
}




//
.link_new{
  display: block;
  width: 50vw;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}



//priceや日付等の数字のフォントを変更
.font13{
  // font-size: 13px;
}

//入力フォームの設定
  .text-form{
    padding: 10px 10px;
    width: 80vw;
    max-width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
  }

  .num-form{
    padding: 0px 10px;
    width: 80vw;
    max-width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
    background-color: white;
  }

  .check-box{
    height: 20px;
    width: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
    background-color: white;
  }


  .submit-btn{
    @include submit-btn()
  }

  .user-submit-btn{

    @include submit-btn(200px)
  }

  //フォームを整列させる
  ul{
    margin: 0 auto;
    width: 90vw;
    max-width: 500px;
    li{
      display: flex;
      margin-top: 10px;
    }
    label{
      text-align: left;
      margin: 0px 10px 10px 0px;
      width: 24vw;
      float: left;
    }
 }
//入力フォーム終了



.margin_right20{
  margin-right: 20px;
}



//一覧画面のヘッダー
.index_header{
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

//右寄せの場合
.left{
  text-align: center;
}

//アイコン
.icon{
  color: black;
  font-size: 12px!important;
  font-weight: lighter;
  -webkit-text-stroke: 0.7px white;
}


//テーブル全体
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80vw;
  padding: 0.2em 0.5em;
  margin: 2em auto;
  color: #565656;
  background: #fbfbfb;

  tr{  
    border-bottom: solid 1px #808080;
    cursor: pointer;
  }

  tr.hover:hover{
    background-color: #e3e3e3;
  }
  //見出し
  th{
    background-color: #efefef;
    text-align: center;
    // width: 15vw;
    // max-width: 100px;
    padding: 15px 0;
    border-bottom: solid 1px #a0a0a0;
  }
  //データ
  td{
    text-align: center;
    line-height:  20px;
    height: 80px;
    border-bottom: solid 0.1px #c0c0c0;
  }

}
.normal-width{
  width: 150px;
}

.remaining{
  max-width: 30vw;
}

.table_icon{
  text-align: center;
  max-width: 50px!important;
  margin-right: 20px;
}

.not-protrude{
  width: calc(100vh-150px*4);
  overflow: scroll;
  word-wrap: break-word;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.not-protrude::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}



//nameのみのテーブル
td tr.right{
  width: 10px;
  text-align: right;
}
table.only_name{
  overflow: scroll;
  text-align: center;
  width: 40vw;
  max-width: 600px;
}
//nameのみのテーブル終了

.table_content{
  text-align: center;
  font-size: 13px;

}
.table_icon{
  width: 50px;
}

head{
  width: 100vw;
}

//レスポンシブ対応
@media screen and (max-width:600px) {
  content {
    display: block!important;
    //ヘッダーのdisplay:flexを解除（うまく行かないので!importantで強制的に解除）
  }
  .content{
    width: 100vw;
    height: calc(100vh - 40px);
    //header部分のheightを引く
    margin: 0px;
    padding-top: 20px!important;
    //.postのpadding-topを小さくする
    overflow-y: scroll;
    overflow-x: hidden;
  }
  table.only_name{
    margin-top: 15px;
    width: 80vw;
  }

}

.form{
  padding-top: 20px;
  //.contentのpadding-topを小さくした分、formのpaddingを補正
}

.notice{
  width: 200px;
}