//headerのCSS
header{
  position: relative;
}
.detailed_header{
  position: relative;
}
.menu{
  width: 300px;
  height: 100vw;
  background: #efefef;
  visibility: hidden;
  opacity: 0;  //完全に透明
  transition: opacity .7s ease, visibility .7s ease;
  position: absolute;
  top: 0px;
  left: 0px;
  &__list{
    position: absolute;
    top: 20%;
    left: 30px;
    -webkit-transform : translateY(-20%);
    transform : translateY(-20%);
  }
}

.open-menu {
  visibility: visible;
  z-index: 999; //最前面に表示
  opacity: 1; //透明ではない
}


.detailed_header {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}



.detailed_header{
  padding: 45vh 30px;

  @mixin hunberger_close {
    position: absolute;
    height: 3px; //線の太さ
    width: 25px; //長さ
    border-radius: 3px;
    background: #555;
    display: block;
    cursor: pointer;
  }

  //ハンバーガーメニュー アイコン
  span {
    @include hunberger_close;
  }
  .top {
    transform: translateY(-7px);
  }
  .bottom {
    transform: translateY(7px);
  }

  //メニューを閉じるボタン
  .close-menu{
    padding: 30px 0;
    span{
      @include hunberger_close;
    }
      .right{
        transform: rotate(-45deg)
      }
      .left{
        transform: rotate(45deg)
      }
  }


}


