.monthly{
  width: 80vw;
  background-color: greenyellow;
  margin: 20px 10px;
  padding: 10px;
}

// show„ÅÆCSS
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  padding: 0.2em 0.5em;
  margin: 2em auto;
  color: #565656;
  background: #f0ffff;
  box-shadow: 0px 0px 0px 10px #f0ffff;
  border: dashed 2px #6495ed;
  border-radius: 8px;

}

// table tr{
//   border-bottom: solid 1px #808080;
//   cursor: pointer;
// }

table tr:hover{
  background-color: #d4f0fd;
}

table th{
  text-align: center;
  width: 25%;
  padding: 15px 0;
  border-bottom: solid 1px #a9a9a9;
}

table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
  border-bottom: solid 1px #d3d3d3;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(icon-bird.png)
}

table td.icon.whale{
  background-image: url(icon-whale.png)
}

table td.icon.crab{
  background-image: url(icon-crab.png)
}

