.monthly{
  width: 80vw;
  background-color: greenyellow;
  margin: 20px 10px;
  padding: 10px;
}

// showのCSS
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  padding: 0.2em 0.5em;
  margin: 2em auto;
  color: #565656;
  background: #fbfbfb;
  // box-shadow: 0px 0px 0px 10px #f0ffff;
  // border: dashed 2px #6495ed;
  // border-radius: 8px;

}

//テーブル全体
table{


}
table tr{
  
  border-bottom: solid 1px #808080;
  cursor: pointer;
}

table tr.monthly_table:hover{
  background-color: #e3e3e3;
}

//テーブルの見出し
table th{
  background-color: #efefef;
  text-align: center;
  width: 10%;
  padding: 15px 0;
  border-bottom: solid 1px #a0a0a0;
}

//テーブルのデータ
table td{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  line-height:  20px;
  // width: 10%;
  padding: 30px 0;
  border-bottom: solid 0.1px #c0c0c0;
  &.right{
    font-family: 'Dancing Script', cursive;
    font-weight:bold;
    text-align:right;
    padding-right: 5vw;

  }
}
