//index

//新規投稿ボタンを固定すすための記述

@mixin fix-add-new {
  width: 80vw;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 10%;
  left: 70%;
  -webkit-transform : translateY(-10%);
  transform : translateY(-10%);
  -webkit-transform : translateX(-70%);
  transform : translateX(-70%);  
}

.post{
  @include fix-add-new;
  .add_new{
    position: relative;
    &_post{
      position: absolute;
      top:50px;
      right: 10vw;
    }
  }
}

// indexのカレンダー
.simple-calendar {
  @include fix-add-new;
  
  .calendar-heading{
    text-align: center;
    .calendar-title{
      font-size: 30px;
    }
  }

  .date{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .day { 
    position: relative;
    height: 12vh;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background-color: #e7e7e7}
  
  .prev-month{
    opacity: 0.5;
    // background-color: #bfbfbf;
  }
  .current-month:hover{
    background-color:#e7e7e7;
  }
  .next-month{
    opacity: 0.5;
    // background-color: #b6b6b6;
  }
}

  // .past {background-color: gray;}
  // .future {background-color: pink;}

  // .start-date {}

  // .prev-month {background-color: darkkhaki;}
  // .next-month {background-color: darkred;}
  // .current-month {}

  // .has-events {background-color: darkseagreen;}
}