.post{
  background-color: yellow;
  height: 100px;
  width: 300px;
  margin: 10px;
}

// indexのカレンダー
.simple-calendar {
  font-family: 'Amatic SC', cursive;
  z-index: 1;

  .calendar-heading{
    text-align: center;
    

    .calendar-title{
      font-size: 30px;
    }
  }

  .date{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .day { 
    position: relative;
    height: 12vh;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background-color: #e7e7e7}
  
  .prev-month{
    background-color: #bfbfbf;
  }
  .current-month:hover{
    background-color:#e7e7e7;
  }
  .next-month{
    background-color: #b6b6b6;
  }
}




