//index

//新規投稿ボタンを固定するための記述

@mixin fix-add-new {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 10%;
  left: 70%;
  -webkit-transform : translateY(-10%);
  transform : translateY(-10%);
  -webkit-transform : translate(-70%);
  transform : translateX(-70%);  
}

.post{
  padding: 20px 30px;
  width: calc(100vw - 120px);
  //headerの部分の長さを引いている
  position: relative;
  .add_new_post{
    width: calc(100% - 60px);
    max-width: 1150px;
    //.simple-calendarと同じwidth
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding-right: 30px;
    //.postのpadding-left分をマイマス

  }
}

// indexのカレンダー
.simple-calendar {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  .table-striped{
    width: 100%;
  margin: 0px auto;
  }
  .calendar-heading{
    text-align: center;
    padding-bottom: 30px;
      a {
        color: #707070;
        padding: 10px;
      }

    .calendar-title{
      font-size: 30px;
    }
 
  }

  .date{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .day { 
    position: relative;
    height: 10vh;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background-color: #e7e7e7}
  
  .prev-month{
    opacity: 0.5;

  }
  .current-month:hover{
    background-color:#e7e7e7;
  }
  .next-month{
    opacity: 0.5;
    // background-color: #b6b6b6;
  }
}

@media screen and (max-width:600px) {

  .post{
    width: 95vw;
    height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    .simple-calendar {
      width: 100%;
      height: calc(100vh - 100px);
      height: 20px;
      size: 200px;
      margin: 0 auto;
    
    }
    .add_new_post{
      position: static; //postion:absoluteをリセット
      width: 100%;
      margin: 0 auto;
    }
  }

}
.table-striped{
  height: 300px;
}




